<mat-sidenav-container class="sidebar-container"  style="height:86vh ;" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="push">
    <p><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
    <p><button mat-button ><mat-icon>mic_none</mat-icon></button></p>
    <p><button mat-button ><mat-icon>music_video</mat-icon></button></p>
    <p><button mat-button ><mat-icon>forum</mat-icon></button></p>
    <p><button mat-button name="btnlang"><mat-icon>language</mat-icon></button></p>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-slide-toggle color="accent" (change)="onThemeChange($event)">
        Dark Theme
      </mat-slide-toggle>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>