<mat-sidenav-container class="sidebar-container"  style="height:90vh ;" *ngIf="shouldRun">
  <mat-sidenav #sidenav mode="push">
    <p><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
    <p>test 1 2 3 4 5 </p>
    <p>6 7 8 9</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <mat-slide-toggle color="accent" (change)="onThemeChange($event)">
        Dark Theme
      </mat-slide-toggle>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>